<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>Kaise Ho ?</h1>
        <form action="/hello" method="get">
          <div class="input"></div>
          <button class="yes">&#128522;</button>
          <button class="not">&#128532;</button>
        </form>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
